@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

html, body {
	padding: 0;
	margin: 0;
	background-color: #202020;
	height: 100%;
}

body > div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.store {
	display: flex;
}

.featured-store {
	flex: 1;
	flex-shrink: 0;
	white-space: nowrap;
}

.daily-store {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	overflow: auto;
}

.featured-panel {
	width: 384px;
	height: 548px;
	overflow: hidden;
	border-style: solid;
	border-width: 2px;
	border-color: #404040;
	margin: 16px;
	display: inline-block;
}

.featured-item {
	width: 384px;
	height: 548px;
	position: relative;
	overflow: hidden;
}

.featured-image {
	width: 548px;
	margin-left: -82px;
}

.featured-item .title, .daily-item .title {
	font-family: 'Luckiest Guy', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 64px;
	text-align: center;
	color: #ffffff;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.2);
	white-space: nowrap;
}

.featured-item .title {
	font-size: 24pt;
}

.daily-item .title {
	font-size: 18pt;
}

.featured-item .price, .daily-item .price {
	font-family: 'Luckiest Guy', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	text-align: center;
	color: #ffffff;
	font-size: 12pt;
}

.daily-item {
	width: 256px;
	height: 256px;
	overflow: hidden;
	border-style: solid;
	border-width: 2px;
	border-color: #404040;
	margin: 16px;
	float: left;
	position: relative;
}

.daily-image {
	width: 256px;
}

.Common {
	background: radial-gradient(circle at center, #bebebe 5%, #646464 200%);
}

.Uncommon {
	background: radial-gradient(circle at center, #60aa3a 5%, #175117 200%);
}

.Rare {
	background: radial-gradient(circle at center, #49acf2 5%, #143977 200%);
}

.Epic {
	background: radial-gradient(circle at center, #b15be2 5%, #4b2483 200%);
}

.Legendary {
	background: radial-gradient(circle at center, #d37841 5%, #78371d 200%);
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.link-list li {
    display: inline-block;
    width: 400px;
}

@media (max-width: 800px) {
    .link-list li {
        width: 45%;
    }
}

a {
    color: #eef;
}

a:visited {
    color: #eff;
}

h1 {
    text-align: center;
}
